.noithat header {

}

.noithat header img {
    max-width: 100%;
}

nav .header-menu {
    clear: both;
    list-style: none;
}

nav .header-menu:after {
    clear: both;
    content: "";
    display: table;
}

nav .header-menu li {
    float: left;
}